<div class="uk-height-1-1 uk-background-muted">
  <div class="uk-container uk-padding-large">

    <ul class="uk-pagination uk-flex-center" uk-margin>
      <li><span class="uk-label uk-label-success uk-flex-center">Páginas</span></li>
      <li><a href="#" (click)="LastPage()"><span uk-pagination-previous></span></a></li>
      <li><a href="#" (click)="NextPage()"><span uk-pagination-next></span></a></li>
    </ul>
    <div class="uk-block uk-block-large uk-background-default uk-padding-small myBlock">
      <a href="#" (click)="addTask(task)" class="uk-icon-button adcionarTarefa" uk-icon="plus"></a>
      <form action="">
        <input type="text" name="inputNovaTarefa" id="inputNovaTarefa" class="uk-input" placeholder="Insira Nova Tarefa"
          [(ngModel)]="newItem" (keyup.enter)="addTask()" autofocus />
        <ul id="listItems" class="uk-list uk-padding-small uk-list-divider">
          <li *ngFor="let task of taskList">
            <span>{{task.task_name}}</span>
            <a href="#" (click)="deleteTask(task.id)" class="uk-align-right" uk-icon="trash"></a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
